*{
    box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Segoe UI';
    margin: 0;
}


a{
    text-decoration:none
}


.header{
    
    width: 100%;
    background-color: rgba(47, 54, 64, 0.7);
    position:fixed;
    z-index: 5;
    height: 50px;
}

.logo{
    padding-top:10px;
    padding-left: 5%;
    color: #fcf8f8;
    width: 300px;
    float:left;
}

.logo span{
    color:#fbc531;
}

.logo h1{
    font-size: 20px;
}

.menu {
    height: 100%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

.menu a{
    margin: 10px;
    color:#fcf8f8;
    font-weight: 500;
}

.menu a:hover::after{
    border-bottom: 2px solid #fbc531;
    color:#fbc531;
    content: '';
    display: block;
    margin:auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
    background-color: rgba(255, 255, 255, 1);
}

.menu a:hover{
    color:#fbc531;
}



.main{
    background-image: url(../img/bg1.png);
    width: 100%;
    height: 650px;
    background-size: cover;
    color: white;
    position: relative;
    z-index: 1;
    text-align: center;
}

.main h1{
    font-weight: 300;
    padding-top: 150px; 
    color: #fcf8f8;
    position: relative;
    font-size: 40px;
    z-index: 3; 
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    margin-bottom: 30px;
    letter-spacing: 5px;
}

.main span{
    font-weight: 700;
    opacity: 0.7;
}

.main:hover::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to top,rgba(75,75,75,0.5),rgba(75,75,75,0.5));
}

.btn{
    padding: 12px 24px;
    color: white;
    background-color: #00a8ff;
    z-index: 4;
    position: relative;
    border-radius: 5px 5px;
    font-weight: 700;
    /* margin-top: 230px; */
    cursor: pointer;
    box-shadow: 0 7px #00aaffa9;
    opacity: 0.7;
}

.btn:hover{
    padding: 12px 24px;
    color: white;
    background-color: #00a8ff;
    z-index: 4;
    position: relative;
    border-radius: 5px 5px;
    font-weight: 700;
    /* margin-top: 230px; */
    cursor: pointer;
    box-shadow: 0 7px #00aaffa9;
    opacity:1;
}

.btn:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }

.info-panel-wrapper{
    width:100%;
    height:150px;
    margin-top: -80px;
    position: relative;
    z-index: 4;
}

.info-panel{
    margin-left:20%;
    margin-right:20%;
    background-color:white;
    height: 100%;
    box-shadow: 0 3px 20px rgba(0,0,0,.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel{
    display: flex;
    padding:10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.panel:hover{
    display: flex;
    background-color:greenyellow;
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
    margin-left: 5px;
    margin-right: 5px;
}

.img-panel{
    width: 120px;
    height: 120px;
    overflow: hidden;

}
.img-panel img{
    max-width: 100%;
    max-height: 100%;
    display: block;

}
.txt-panel{
    width: 120px;
    height: 120px;
}

.workplace-wrapper{
    width: 100%;
    height: 500px;
    background-color: #f5f6fa;
    margin-top: -80px;
    text-align: center;
}

.workplace-wrapper h2{
    padding-top: 120px;
    letter-spacing: 2px;
}

.workplace {   
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workplace img{
    width: 400px;
    margin-right: 40px;
}

.workplace p{
    text-align: justify;
    width: 400px;
}

.portofolio-wrapper{
    width: 100%;
    height: 500px;
    background-color: white;
    text-align: center;
}

.portofolio-wrapper h2{
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 2px;
}

.portofolio{
    display: flex;
    justify-content: center;
    

}

.portofolio img{
    width:240px;
    height: 340px;
    box-shadow: 0 3px 20px rgba(0,0,0,.5);
    border: 10px solid #fcf8f8;
    border-radius: 5px;
    margin: 0 30px;
}

.portofolio img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

.team-wrapper{
    width: 100%;
    height: 350px;
    background-color:#fbc531 ;
    color: #fcf8f8;
    text-align: center;
}

.team-wrapper h2{
    padding-top: 30px;
    text-shadow: 1px 1px 0px rgba(47, 54, 64, 0.9);
    padding-bottom: 30px;
    letter-spacing: 2px;
}

.team{
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-profile img{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border:5px solid #fcf8f8;
    box-shadow: 1px 1px 0px rgba(47,54,64,0.5);
    margin:0px 10px;
}

.team-profile img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

.footer{
    text-align: center;
    width: 100%;
    height: 80px;
    color: #fcf8f8;
    background-color: #5e6988;
}

.footer h3{
    padding-top: 20px;
    font-weight: 200;
}

.team-profile h3,p{
    text-shadow: 1px 1px 0px rgba(47, 54, 64, 0.5);
}

.active img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.tengah img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.ujung img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}